.navbar {
    background-color: #6cb5c5;
}
.navbar-nav .nav-link {
    color: #fff !important;
    font-size: 1.1em;
    padding: 8px 20px;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-decoration-color: #fff;
}
